* { margin:0 ; padding:0 ; box-sizing:border-box ; }

header { background-color:#4D8041 ; position:fixed ; top:0 ; left:0 ; right:0 ; height:95px ; display:flex ; align-items:center ; box-shadow: 0 0 25px 0 black ; } 
header * { display:inline ; } 
header li { margin:95px ; } 
header li a { color:#82C255 ; text-decoration:none ; }


body { font-family: 'IBM Plex Sans', sans-serif ; font-weight:258 ; background-color:#A27756 ; font-size:17px ; }


.rotating-card { perspective:150rem ; position:relative ; height:30rem ; max-width:389px ; margin:2rem ; box-shadow:none ; background:none } 

.rotating-card-side { height:35rem ; border-radius:15px ; transition:all 0.8s ease ; backface-visibility:hidden ; position:absolute ; top:0 ; left:0 ; width:80% ; padding:2rem ; color:#fff } 

.rotating-card-side.back { transform:rotateY(-180deg) ; background-color:#55D0B7 ; background-image:linear-gradient(43deg,#957591 0%,#2C109C 46%,#919779 100%) } 

.rotating-card-side.front { background-color:#DA28CD ; background-image:linear-gradient(160deg,#71685C 0%,#BC5363 100%) } 

.rotating-card:hover .rotating-card-side.front { transform:rotateY(180deg) } 
.rotating-card:hover .rotating-card-side.back { transform:rotateY(0deg) } 

.isometric-card { margin:auto ; transform:rotateX(51deg) rotateZ(43deg) ; transform-style:preserve-3d ; background-color:#2AAC62 ; will-change:transform ; width:262px ; height:370px ; border-radius:2rem ; box-shadow:1px 1px 0 1px #9555C1,-1px 0 28px 0 #7D598C,28px 28px 28px 0 rgba(34,33,81,.25) ; transition:0.4s ease-in-out transform,0.3s ease-in-out box-shadow } .isometric-card:hover { transform:translate3d(0,-16px,0) rotateX(51deg) rotateZ(43deg) ; box-shadow:1px 1px 0 1px #510962,-1px 0 28px 0 #757D30,54px 54px 28px -10px rgba(34,33,81,.15) }

/* button */
.btn { display:inline-block ; text-align:center ; vertical-align:middle ; padding:16px 24px ; border:1px solid #0BB034 ; border-radius:8px ; background:#375187 ; background:-webkit-gradient(linear,left top,left bottom,from(#AB7BB9),to(#38D55C)) ; background:-moz-linear-gradient(top,#55C052,#C502D5) ; background:linear-gradient(to bottom,#C554D0,#474B8A) ; -webkit-box-shadow:#D52314 0 0 0 0 ; -moz-box-shadow:#95AA21 0 0 0 0 ; box-shadow:#728C6D 0 0 0 0 ; text-shadow:#75B692 1px 1px 1px ; font:normal normal bold 22px verdana ; color:#fff ; text-decoration:none }


.grid-aside { display:grid ; grid-template-columns:1fr minmax(438px,65%) ; height:900px } main,aside { padding:12px ; text-align:center } main { background:#A121AD ; } aside { background:#888762 ; }


.card { position:relative ; float:left ; margin-right:10px ; width:150px ; height:220px ; border-radius:10px ; background:#350504 ; -webkit-box-shadow:3px3px7pxrgba(0,0,0,.3) ; box-shadow:3px3px7pxrgba(0,0,0,.3) ; }