.left{
    width: 50%;
    height:750px;
    background-color: #ffff;
    float: left;
    margin-left: -10px;
    margin-top: -10px;
    position: fixed;
    color: #3927cc;
    font-family: 'Montserrat', sans-serif;
}

.right{
    width: 50.6%;
    height: 2000px;
    background-color: #5f41f4;
    float: right;
    margin-right: -10px;
    margin-top: -10px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

h1{
    font-size: 60px;
}


a{
    margin-left: 300px;
}

.code-to-copy{
    width: 80%;
    height: 60vh;
    border: 5px solid #3927cc ;
    border-radius: 5px ;
    background-color: #ffffff;
    color: #3927cc;
    margin-left: 70px;
    font-size: 25px;
    padding: 10px;
    transition:all 0.3s ease-in-out ;
}


.code-generator{
    width: 80%;
    height: 210vh;
    border: 5px solid #3927cc ;
    border-radius: 5px ;
    background-color: #ffffff;
    color: #3927cc;
    margin-left: 70px;
    font-size: 17px;
    padding: 10px;
    transition:all 0.3s ease-in-out ;
}
/* ease-in-out */
.animation{
    transform:scale(.9) ;
}

.btn-copy{
    background-color: #ffff;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #3927cc;
    border: 3px solid #ffff;
    border-radius: 5px;
    cursor:pointer;
    transition:all 0.3s ease-in-out ;
}

    
.btn-copy:hover { 
    transform:scale(.8);
} 

.btn-generar{
    background-color: #3927cc;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #ffff;
    border: 3px solid #ffffff;
    border-radius: 5px;
    cursor:pointer;
    transition:all 0.3s ease-in-out ;
    margin-left: 330px;
}
    
.btn-generar:hover { 
    transform:scale(.8);
} 