.left{
    width: 49%;
    background-color: #ffff;
    float: left;
    position: fixed;
    color: #3927cc;
    font-family: 'Montserrat', sans-serif;
    bottom: 40px;

}

.right{
    width: 49%;
    height: 1600px;
    background-color: #5f41f4;
    float: right;
    margin-top: -10px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

a{
    text-decoration: none;
    color: #3927cc;
    border: 1px solid #3927cc;
    border-radius: 10px;
    padding: 5px;
}

a:hover{
    color: #ffffff;
    background-color: #3927cc;
}

h1{
    font-size: 30px;
}

h2{
    margin-left: 270px;
}

.code-to-copy{
    width: 90%;
    height: 60vh;
    border: 5px solid #3927cc ;
    border-radius: 10px ;
    background-color: #ffffff;
    color: #3927cc;
    margin-left: 25px;
    font-size: 17px;
    padding: 10px;
    transition:all 0.3s ease-in-out ;
}


.code-generator{
    width: 80%;
    height: 1400px;
    border: 5px solid #3927cc ;
    border-radius: 10px ;
    background-color: #ffffff;
    color: #3927cc;
    margin-left: 70px;
    font-size: 17px;
    padding: 10px;
    transition:all 0.3s ease-in-out ;
}
/* ease-in-out */
.animation{
    transform:scale(.9) ;
}

.btn-copy{
    background-color: #ffff;
    width: 150px;
    height: 40px;
    font-size: 25px;
    color: #3927cc;
    border: 3px solid #ffff;
    border-radius: 10px;
    cursor:pointer;
    transition:all 0.3s ease-in-out ;
}

    
.btn-copy:hover { 
    transform:scale(.8);
} 

.btn-generar{
    background-color: #3927cc;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #ffff;
    border: 3px solid #ffffff;
    border-radius: 10px;
    cursor:pointer;
    transition:all 0.3s ease-in-out ;
    margin-left: 300px;
}
    
.btn-generar:hover { 
    transform:scale(.8);
} 
