/* DEMO CSS*/
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar li {
  float: left;
}
.navbar li a {
  position: relative;
  display: block;
  color: #9c2713;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  z-index: 0;
}
li a:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #cdb064;
  border-radius: 10px;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}
li a:hover:before,
li a:focus:before {
  transform: scale(1);
}
